<header id="master-header">
    <div>
        <h1>Example</h1>
        <nav id="primary">
            <ul>
                <li><a href="#">Menu 1</a></li>
                <li><a href="#">Menu 2</a></li>
                <li><a href="#">Menu 3</a></li>
                <li><a href="#">Menu 4</a></li>
            </ul>
        </nav>
    </div>
</header>
<div id="main-content">
    <nav id="secondary">
        <ul>
            <li><a href="#">Menu 5</a></li>
            <li><a href="#">Menu 6</a></li>
            <li><a href="#">Menu 7</a></li>
            <li><a href="#">Menu 8</a></li>
        </ul>
    </nav>
    <section>
        <header>
            <h1 class="section-heading">Section Heading</h1>
            <p>A short description of this section.</p>
        </header>
        <article>
            <header>
                <h1>Article Header</h1>
                <time datetime="2010-08-07 11:11:03-0400" pubdate>08-07-2010</time>
                <p>
                    By <span>Authors Name</span>
                </p>
            </header>
            <p>Cursus turpis massa tincidunt dui. Accumsan lacus vel facilisis volutpat est velit egestas dui id. Malesuada bibendum arcu vitae elementum. Pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus at. Nisi scelerisque eu ultrices vitae auctor eu augue ut lectus.</p><h2>nulla aliquet</h2><p>Pulvinar pellentesque habitant morbi tristique senectus et. Consequat nisl vel pretium lectus quam id leo in vitae. Tellus cras adipiscing enim eu. Velit sed ullamcorper morbi tincidunt ornare massa. Orci eu lobortis elementum nibh tellus.</p><h3>tincidunt ornare</h3><p>Et tortor consequat id porta nibh venenatis. Scelerisque mauris pellentesque pulvinar pellentesque habitant morbi. Phasellus faucibus scelerisque eleifend donec pretium. Quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus. Enim nulla aliquet porttitor lacus luctus accumsan tortor.</p>
            <footer>
                <p>Aliquet nibh praesent tristique magna sit amet. Egestas pretium aenean pharetra magna ac placerat vestibulum. Duis convallis convallis tellus id interdum velit. Enim sed faucibus turpis in eu mi bibendum neque egestas. Nunc sed augue lacus viverra vitae.</p><p>Ultrices tincidunt arcu non sodales neque. Nam libero justo laoreet sit amet cursus sit amet. Pretium quam vulputate dignissim suspendisse in est ante in. Tellus orci ac auctor augue. Pulvinar sapien et ligula ullamcorper malesuada.</p>
            </footer>
        </article>
    </section>
</div>
<footer id="master-footer">
    <div>
        <section id="copyright"><p>Duis ultricies lacus sed turpis tincidunt id aliquet risus. Arcu non odio euismod lacinia at quis. Aliquam eleifend mi in nulla. At elementum eu facilisis sed odio morbi quis commodo odio. Orci sagittis eu volutpat odio facilisis mauris sit amet massa.</p></section>
    </div>
</footer>