/*
    A simple responsive grid system  

    Usage:
    <div class="grid">
        <div class="col half"></div>
        <div class="col half"></div>
    </div>  
*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.row {
    margin: 0 auto;
    max-width: 980px;
    *zoom: 1;
    padding: 20px 0;
}
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .row .col {
        float: left;
        padding: 0 24px;
    }

        .row .col.full {
            width: 100%;
        }

        .row .col.half {
            width: 50%;
        }

        .row .col.quarter {
            width: 25%;
        }

        .row .col.third {
            width: 33.33%;
        }

        .row .col.two-thirds {
            width: 66.66%;
        }

@media only screen and (max-width: 767px) {
    /* Small Device Styles here */
    .row .col {
        float: none;
        width: auto !important;
        padding: 0 !important;
    }
}
